services:

  postgres:
    container_name: ms_pg_sql
    image: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      PGDATA: /var/lib/postgresql/data
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    ports:
      - 5432:5432
    networks:
      - microservices-net
    restart: unless-stopped

  pgadmin:
    container_name: ms_pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - 5050:80
    networks:
      - microservices-net
    restart: unless-stopped

  mongodb:
    container_name: ms_mongo_db
    image: mongo
    ports:
      - 27017:27017
    volumes:
      - mongo:/data/db
      - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    networks:
      - microservices-net

  mongo-express:
    container_name: ms_mongo_express
    image: mongo-express
    restart: unless-stopped
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=admin
      - ME_CONFIG_MONGODB_ADMINPASSWORD=admin
      - ME_CONFIG_MONGODB_SERVER=mongodb
    ports:
      - 8081:8081
    networks:
      - microservices-net

  mail-dev:
    container_name: ms_mail_dev
    image: maildev/maildev
    ports:
      - 1080:1080
      - 1025:1025
    networks:
      - microservices-net

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: ms_kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@ms_kafka:29093"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_LISTENERS: "PLAINTEXT://ms_kafka:29092,CONTROLLER://ms_kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://ms_kafka:29092,PLAINTEXT_HOST://localhost:9092"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_LOG_DIRS: "/tmp/kraft-combined-logs"
      CLUSTER_ID: "MkU3OEVBNTcwNTJENDM2Qk"
    networks:
      - microservices-net


  config-server:
    container_name: ms_config_server
    image: saisuryap/configserver-ms:latest
    pull_policy: always
    ports:
      - "8888:8888"
    networks:
      - microservices-net
    restart: unless-stopped

  discovery-service:
    container_name: ms_discovery
    image: saisuryap/discovery-ms:latest
    pull_policy: always
    ports:
      - "8761:8761"
    networks:
      - microservices-net
    restart: unless-stopped
    depends_on:
      - config-server

  customer-service:
    container_name: ms_customer
    image: saisuryap/customer-ms:latest
    pull_policy: always
    ports:
      - "8090:8090"
    networks:
      - microservices-net
    restart: unless-stopped
    depends_on:
      - discovery-service
      - mongodb

  product-service:
    container_name: ms_product
    image: saisuryap/product-ms:latest
    pull_policy: always
    ports:
      - "8050:8050"
    networks:
      - microservices-net
    restart: unless-stopped
    depends_on:
      - discovery-service
      - postgres

  order-service:
    container_name: ms_order
    image: saisuryap/order-ms:latest
    pull_policy: always
    ports:
      - "8070:8070"
    networks:
      - microservices-net
    restart: unless-stopped
    depends_on:
      - discovery-service
      - postgres
      - kafka

  notification-service:
    container_name: ms_notification
    image: saisuryap/notification-ms:latest
    pull_policy: always
    ports:
      - "8040:8040"
    networks:
      - microservices-net
    restart: unless-stopped
    depends_on:
      - discovery-service
      - mongodb
      - kafka
      - mail-dev

  payment-service:
    container_name: ms_payment
    image: saisuryap/payment-ms:latest
    pull_policy: always
    ports:
      - "8060:8060"
    networks:
      - microservices-net
    restart: unless-stopped
    depends_on:
      - discovery-service
      - postgres
      - kafka

  gateway-service:
    container_name: ms_gateway
    image: saisuryap/gateway-ms:latest
    pull_policy: always
    ports:
      - "8222:8222"
    networks:
      - microservices-net
    restart: unless-stopped
    depends_on:
      - discovery-service
      - customer-service
      - order-service
      - notification-service
      - payment-service
      - product-service

networks:
  microservices-net:
    driver: bridge

volumes:
  postgres:
  pgadmin:
  mongo:
